* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.header{
    background-color: rgb(53 34 87 / 34%);
    width: 100%;
}

.header_title{
    padding-top: 30px;
    text-align: center;
    font-size: 65px;
}

.nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.header_links{
    margin-top: 30px;
    margin: 0;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
.glava{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}
.glava_text{
    padding: 10px 20px;
    background-color: rgba(195, 0, 255, 0.725);
    border-radius: 10%;
    margin: 0 10px;
    width: 120px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    margin: 0 15px;
}
.rubric_link{
    padding: 10px;
    border-radius: 10px;
}
.item_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 390px;
    list-style-type: none;
    margin-top: 15px;
    box-shadow: 0px 0px 7px 1px #00000061;
}
.item_list>img{
    width: 100%;
    max-height: 250px;
}
.item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1080px;
}
.card_name{
    text-align: center;
}

.item_data{
    margin-top: 13px;
    padding: 0;
    margin: 0;
}

.glava_text:hover{
    background-color: red;
}
.rubric_link:hover{
    box-shadow: 0px 0px 7px 1px #00000061;
    background-color: green;
}








.by_img{
    width: 100%;
    margin: 0;
    padding: 0;
}

.by{
    margin-top: 15px;
    width: 60%;
}

.by_item{
    margin-top: 15px;
}

.by_item_list{
    list-style-type: none;
    margin-bottom: 30px;
}

.by_context{
    display: flex;
    justify-content: space-between;
}
.by_context *{
    padding: 0;
    margin: 0;
}

.by_content{
    margin: 15px 0;
    line-height: 1.5;
}

.by_title{
    font-size: 40px;
}
.by_title_rub{
    font-size: 50px;
}




.header_form {
    max-width: 360px;
}

.form_title{
    margin-top: 20px;
}

.form_text{
    margin: 10px 0;
}