{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ current_rubric.name }} :: Доска объявлений</title>
    <link rel="stylesheet" href="{% static 'bboard/style.css' %}">
</head>
<body>
    <div class="header">    
        <h1 class="header_title" >ИнгТорговля</h1>
        <div class="nav">
            <div class="glava">
                <a href="{% url 'index' %}" class="glava_text">Главная</a>
                <a href="{% url 'add' %}" class="glava_text">Добавить</a>
            </div>
            <div class="header_links">
                {% for rubric in rubrics %}
                <a class="rubric_link" href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="by">
        <h2 class="by_title_rub">Рубрика: {{ current_rubric.name }}</h2>
        <ul class="by_item">
            {% for bb in bbs %}
            <li class="by_item_list">        
                <h2 class="by_title">{{ bb.title }}</h2>
                <p class="by_content">{{ bb.content }}</p>
                <img class="by_img" src="{{ bb.image.url }}" alt="Ошибка при загрузки фотографии">
                <div class="by_context">
                    <p>Тел.: {{ bb.phone }}</p>
                    <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>